html,
body,
root {
  height: 100%;
}
body {
  margin: 0;
  background-color: #e6e6e6;
  font-family: "Roboto", sans-serif;
}
.taskLimit {
  color: red;
}
.taskLimitColumn {
  background-color: firebrick;
}
.row2,
.row3,
.row4,
.row5 {
  display: none;
}
