#root
    display: flex
    background: #f2f2f2

.app-container
    @include flex-position($justify: center)
    height: 100%
    margin-top: 50px
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

.newcolumn-container
    background: #f2f2f2 

