.app-container
    @include flex-position($justify: center)
    height: 100%
    width: 100%
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

.newcolumn-container
    background: #f2f2f2 